<!--<p>
    Name: <input type="text" [formControl]="name"/>
</p>
<p>
    Value: {{name.value}}
</p>
<p>
    <button (click) = "update()">click me</button>
</p>
-->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p>
        first name: <input type="text" formControlName="firstName"/>
    </p>
    <p>
        last name: <input type="text" formControlName="lastName"/>
    </p>

    <div formGroupName="address">
        <h3>Address</h3>
        <p>
            street: <input type="text" formControlName="street">
        </p>
        <p>
            city: <input type="text" formControlName="city">
        </p>
        <p>
            state: <input type="text" formControlName="state">
        </p>
    </div>

    <button type="submit">Submit</button>

    <button (click) = "clear()">Clear</button>
</form>